<!DOCTYPE html>
<html>
	<head>
		<title> Andy Marr Driving </title>
		<link type="text/css" rel="stylesheet" href="style/style.css">
	</head>
	<body>
		<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1625525834361444',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
		<div id="header">
			<p><span>Call us:</span> 01634 683786 | 07760 488601</p>
			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<!--<li><a href="blog.html">Blog</a></li>-->
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			
			<h1><img src="images/logo.png" alt="Andy Marr Driving"></h1>
			
		</div>
		
		<div id="content">
			<div id="left_col">
			<h2>{{page.title}}</h2>
			{{ content }}
			</div>
			
			<div id="right_col"> 
				<h3>Contact Info</h3>
				<ul>
					<li>Phone: 07760488601 </li>
					<li>E-Mail: andy@andymarrdriving.com</li>
					<li>Web: http://www.andymarrdriving.com</li>
				</ul>
				
				<div class="fb-page" data-href="https://www.facebook.com/andymarrdriving" data-width="280" data-height="580" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/andymarrdriving"><a href="https://www.facebook.com/andymarrdriving">Andy Marr Driving School</a></blockquote></div></div>
			</div>
		</div>
	</body>
</html>