<!DOCTYPE html>
<html>
	<head>
		<title> Andy Marr Driving </title>
		<link type="text/css" rel="stylesheet" href="style/style.css">
	</head>
	<body>
		<div id="header">
			<p><span>Call us:</span> 01634 683786 | 07760 488601</p>
			
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="testimonials.html">Testimonials</a></li>
				<!--<li><a href="blog.html">Blog</a></li>-->
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
			
			<h1><img src="images/logo.png" alt="Andy Marr Driving"></h1>
			
		</div>
		
		<div id="content">
			<h2>{{page.title}}</h2>
			{{ content }}
		</div>
	</body>
</html>